{namespace custom=KayStrobach\Fluege\ViewHelpers}

<f:form.validationResults for="{for}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="Schließen">&times;</button>
			<p>
				Leider waren einige Eingaben im Formular nicht korrekt.
			</p>
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<div class="row">
					<div class="col-sm-3">
						<p class="text-right">
							<custom:translate>{propertyPath}</custom:translate>
						</p>
					</div>
					<div class="col-sm-9">
						<f:for each="{errors}" as="error">
							<p class="text-left">
								<f:if condition="{custom:translate(id:error.code, source:'ValidationErrors', arguments:error.arguments)} != {error.code}">
									<f:then>
										<custom:translate id="{error.code}" source="ValidationErrors" arguments="{error.arguments}">{error.code}</custom:translate>
									</f:then>
									<f:else>
										<custom:translate id="{error.code}" package="TYPO3.Flow" source="ValidationErrors" arguments="{error.arguments}"></custom:translate>
									</f:else>
								</f:if>
								<span class="glyphicon glyphicon-info-sign" title="{error.severity} {error.code}: {error}"></span>
							</p>
						</f:for>
					</div>
				</div>
			</f:for>
		</div>
	</f:if>
</f:form.validationResults>