<f:for each="{items}" as="item" key="itemKey">
    <f:if condition="{item.section}">
        <f:then>
            <li id="menu-{config.menu}-{itemKey}">
                <f:if condition="{item.items}">
                    <a href="#">
                        <f:if condition="{item.iconclass}">
                            <span class="{item.iconclass}"></span>
                        </f:if>
                        <f:if condition="{item.package}">
                            <f:then>
                                <f:translate id="{item.labelId}" package="{item.package}">{item.label}</f:translate>
                            </f:then>
                            <f:else>
                                {item.label}
                            </f:else>
                        </f:if>
                        <span class="fa fa-chevron-down"></span>
                    </a>
                    <ul class="nav child_menu">
                        <f:for each="{item.items}" as="subitem" key="subitemKey">
                            <li id="menu-{config.menu}-{itemKey}-{subitemKey}">
                                <f:render partial="Item" arguments="{item: subitem}"/>
                            </li>
                        </f:for>
                    </ul>
                </f:if>
            </li>
        </f:then>
        <f:else>
            <li id="menu-{config.menu}-{itemKey}">
                <f:render partial="Item" arguments="{item: item}"/>
            </li>
            <f:if condition="{item.items}">
                <li class="" id="menu-{config.menu}-{itemKey}-sub">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="nav child_menu">
                        <f:for each="{item.items}" as="subitem" key="subitemKey">
                            <li id="menu-{config.menu}-{itemKey}-{subitemKey}">
                                <f:render partial="Item" arguments="{item: subitem}"/>
                            </li>
                        </f:for>
                    </ul>
                </li>
            </f:if>
        </f:else>
    </f:if>
</f:for>